<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">
    <filter>
        <filter-name>restLogger</filter-name>
        <filter-class>org.viadee.logger.RestLoggerConfig</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>restLogger</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
